/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

/* Colors */

:root {
    --color-blue: #0065FC;
    --color-light-blue: #DEEBFF;
    --color-black: #000000;
    --color-gray: #F2F2F2;
    --color-white: #FFFFFF;
    --color-transparent: rgba(255, 255, 255, .4);
}

/* General class */

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--color-black);
}

.fa-star {
    font-size: 12px;
}

.fa-star--activate {
    color: var(--color-blue);
}

.fa-star--deactivate {
    color: var(--color-gray);
}

h1, h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}

button {
    cursor: pointer;
}

.container{
    padding: 0 40px 0 40px;
    max-width: 1600px;
    margin: auto;
}

/* Navbar */

.nav_section{
    background: var(--color-white);
    margin-bottom: 33px;
    display: flex;
}

.nav_section a{
    color:var(--color-black);
    text-decoration: none;
}

.nav_section li{
    text-align: center;
    align-self: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
}

.logo{

    margin-right: auto;
    object-fit: cover;
}

.item{
    padding: 32px 45px 32px 45px;
    border-top: 5px solid var(--color-transparent);

}
.item:hover {
    border-top: 5px solid var(--color-blue);
    color :var(--color-blue);
}

/* Searcg form */

/* Search */

.search_section {
    margin-bottom: 20px;
}

.search_header {
    margin-bottom: 20px;
}

.search_header_title {
    margin-bottom: 0.25%;
}

.search_header__subtitle {
    margin: 0px;
}

.search_form {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.searh_form_wrapper-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--color-gray);
    border-radius: 15px 0 0 15px;
}

.fa-map-marker-alt {
    color: var(--color-black);
}

.search_form_search-input {
    padding: 0 10px ;
    width: 235px;
    height: 46px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-black);
    border-top: 1px solid var(--color-gray);
    border-right: none;
    border-bottom: 1px solid var(--color-gray);
    border-left: none;
}

.search_form_search-input::placeholder {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-black);
}

.search_form_button {
    padding: 0 10px 0 10px;
    width: auto;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-white);
    background-color: var(--color-blue);
    border: none;
    border-radius: 0 15px 15px 0;
}

.search_form_button_icon {
    display: none;
    padding: 0 10px 0 10px;
    width: auto;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-white);
    background-color: var(--color-blue);
    border: none;
    border-radius: 0 15px 15px 0;
}

/* Filters */

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    color: var(--color-blue);
}

.search_filter{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.search_filter_header {
    margin-right: 14px;
}

.filter_wrapper-button{
    display: flex;
    align-items: center;
    width: auto;
    height: 44px;
    background-color: var(--color-white);
    border: 2px solid var(--color-gray);
    border-radius: 25px;
    transition-duration: 0.3s;
    cursor: pointer;
    margin: 5px;
}

.filter_wrapper-button:hover {
    background-color: var(--color-light-blue);
    border: 2px solid var(--color-light-blue);
}

.filter_wrapper-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 44px;
    min-height: 44px;
    background-color: var(--color-light-blue);
    border: 2px solid var(--color-light-blue);
    border-radius: 25px;
}

.filter_title{
    padding: 0 10px 0 10px;
}

.search_info{
    display: flex;
    align-items: center;
}

/* Info */

.info_wrapper-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5%;
    min-width: 26px;
    min-height: 26px;
    border: 2px solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
}

.fa-info {
    font-size: 14px;
    color: var(--color-blue);
}

.info_text{
    font-size: 16px;
}

/* Hosting */

.hosting_section {
    margin-bottom: 60px;
    display: flex;
    gap: 3%;
}

.hosting_header{
    margin-bottom: 20px;
}

.hosting_link{
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 25px;
    display: flex;
    width: 32%;
}

.hosting_wrapper {
    padding: 30px;
    min-width: 62%;
    background-color: var(--color-gray);
    border-radius: 15px;
}

.hosting_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 85%;
    margin: 25px 0 25px 0;
}

.hosting_card {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.1s;
}

.hosting_card:hover {
    transform: scale(1.01);
}

.hosting_card_img {
    width: 100%;
    min-height: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.hosting_card_main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px 15px;
}

.hosting_card_main_title,
.hosting_card_main_description {
    margin-bottom: 5px;
}

.hosting_card_main_description {
    font-size: 16px;
}

.hosting_card_main_price {
    font-weight: 600;
}

.hosting_card_main_rating{
    margin-top:auto;
}

/* Popular */

.popular_wrapper{
    display: flex;
    flex-direction: column;
    min-width: 25%;
    background-color: var(--color-gray);
    border-radius: 20px;
    padding: 30px;
}

.popular_header_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popular_header{
    margin-bottom: 25px;
}

.popular_link {
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.popular_cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular_card {
    display: flex;
    flex-direction: row;
    background-color: var(--color-white);
    padding: 5px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.1s;
}

.popular_card:hover {
    transform: scale(1.01);
}

.popular_card_img {
    width: 40%;
    height: 165px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.popular_card_main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5px 15px;
}

.popular_card_main_rating{
    align-content: flex-end;
}

.popular_card_main_title,
.popular_card_main_description {
    margin-bottom: 5px;
}

.popular_card_main_description {
    font-size: 16px;
}

.popular_card_main_price {
    font-weight: 600;
}

.popular_card_main_rating{
    margin-top:auto;
}

/* Activity */

.activity_section {
    margin-bottom: 40px;
}

.activity_header{
    margin-bottom: 20px;
}

.activity_link{
    min-width: 50px;
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}

.activity_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity_card_big {
    display: flex;
    flex-direction: column;
    min-width: 50px;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.1s;
}

.activity_card_title{
    margin: 10px
}

.activity_card_small_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity_card_small{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.1s;
    justify-content: space-between;
}

.activity_card_img_small{
    max-width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.activity_card_big:hover,
.activity_card_small:hover {
    transform: scale(1.01);
}

.activity_card_img_big {
    height: 450px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.activity_card_title{
    margin-bottom: 10px;
}

.activity-column{
    width: 22%;
}

/* Footer */

footer{
    background-color: var(--color-gray);
}

footer a{
    text-decoration: none; 
    color: black;   
}

footer a:hover{
    text-decoration: underline;    
}

.ft-title{
    padding-bottom: 10px;
}

.footer_section{
    padding:20px 0 20px 0;    
}

.ft-main{
    display: flex;
    flex-direction: row;
}

.ft-items{
    width: 33%;
    line-height: 1.8;
}

/* Medias */

@media screen and (max-width: 992px){
    .search_filter{
        flex-wrap: wrap;
    }
    .hosting_section {
        flex-direction: column-reverse;
        margin-bottom: 60px;
    }
    .hosting_wrapper{
        margin-bottom: 30px;
    }
    .hosting_link{
        min-width: 48%;
    }
    .popular_wrapper{
        margin-bottom: 30px;
    }
    .popular_card_img {
        height: 165px;
    }
    .activity_cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .activity_link{
        min-width: 46%;
    }
    .activity-column{
        min-width: 48%;
    }
}

@media screen and (max-width: 768px){
    .nav_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        padding-left: 40%;
        margin-top: 10px;
        margin-bottom: 20px;
        object-fit: cover;
    }
    .menu{
        display: flex;
        margin-bottom: 10px;
    }
    .menu li{
        width:50%;
        display: flex;
    }
    .item{
        padding: 32px 15px 32px 15px;
        margin: auto;
        width: 100%;
        border-top: none;
        border-bottom: 5px solid var(--color-transparent);
        font-size: 22px;
        font-weight: bolder;
    }
    .item:hover {
        border-top:none;
        border-bottom: 5px solid var(--color-blue);
        color :var(--color-blue);
    }
    .search_filter{
        flex-wrap: wrap;
    }
    .fa-search{
        visibility: visible;
    }
    .search_form_button{
        display: none;
    }
    .search_form_button_icon{
        display: block;
    }
    .hosting_section {
        flex-direction: column-reverse;
        margin-bottom: 60px;
    }
    .hosting_wrapper{
        margin-bottom: 30px;
    }
    .hosting_cards {
        flex-direction: column;
    }
    .hosting_card {
        width: 100%;
    }
    .hosting_link {
        width: 100%;
    }
    .popular_wrapper{
        margin-bottom: 30px;
    }
    .popular_card_img {
        height: 180px;
    }
    .activity_cards{
        flex-direction: column;
    }
    .activity_card_img_big{
        height: 190px;
    }
    .activity_card_big{
        width: 97%;
    }
    .activity-column{
        width: 100%;
    }
    .ft-main{
        flex-direction: column;
    }
    .ft-items{
        margin-bottom: 15px;
        width: 100%;
    }
}

